html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner-graphics {
  float: left;
  width: 60%;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.banner {
  position: relative;
  text-align: left;
  max-height: 500px;
}

.banner-content {
  float: right;
  width: 90%;
}

.main-content {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  background-color: #333;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: .5em;
  border-radius: .5em;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}
